.auth {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.auth form {
  width: 300px;
  background-color: #fefefe;
  border: solid 1px #cdcdcd;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px;
}

.auth form button {
  width: fit-content;
  border: 0;
  border-radius: 3px;
  background-color: #1a73e8;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  padding: 10px 20px;
  align-self: flex-end;
}

.auth form button:hover {
  background-color: #075cca;
}

.input-container {
  display: flex;
  align-items: center;
  position: relative;
  outline: 1px solid #ccc;
}

.input-container input {
  flex: 1;
  position: relative;
  background-color: #ffffff00;
  outline: none;
  border: 0;
  color: #808080;
  padding: 12px 5px;
}

.input-container label {
  position: absolute;
  top: 12px;
  left: 5px;
  color: #808080;
  user-select: none;
}

.input-container label.entered {
  font-size: 13px;
  font-weight: 500;
  background-color: #fff;
  padding: 0 7px;
  animation: move 0.1s linear both;
  z-index: 3;
}

.input-container label.blue-text {
  color: #1a73e8;
}

.input-container.blue-border {
  outline: 2px solid #1a73e8;
}

.input-container.red-border {
  outline: 1px solid #8c0c0c;
}

@keyframes move {
  100% {
    transform: translate(2px, -20px);
  }
}

@keyframes move-back {
  100% {
    transform: translate(0, 0);
  }
}

.icon {
  color: #808080;
  padding: 0 7px;
  cursor: pointer;
}