.post-form {
  width: 800px;
  margin: 0 auto;
}

.post-form h2 {
  margin-bottom: 30px;
}

.create-post {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.create-post label {
  font-weight: 500;
}

.create-post > input {
  padding: 10px 5px;
  border: 0;
  outline: 1px solid #ccc;
}

.create-post > input:focus {
  outline: 1px solid #1a73e8;
}

.create-post button {
  width: fit-content;
  border: 0;
  border-radius: 3px;
  background-color: #1a73e8;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  padding: 10px 20px;
  align-self: flex-start;
}

.create-post > button:hover {
  background-color: #075cca;
}

.ql-editor {
  font-size: 15px !important;
  min-height: 200px !important;
  resize: vertical !important;
  padding: 10px !important;
}

.ql-editor blockquote {
  padding: 8px 8px 8px 16px !important;
}

.ql-editor blockquote, .ql-editor ol, .ql-editor ul, .ql-editor {
  margin: 8px 0 !important;
}

.ql-editor img {
  width: 100% !important;
  height: auto !important;
  max-width: none !important;
  cursor: default !important;
}

.msg {
  font-size: 14px;
  color: #8c0c0c;
}